
.react-datepicker {
    font-family: 'Montserrat', sans-serif;
    border: 1px solid #ccc;
    border-radius: 40px;
    background-color: #fdfdfd;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
  }
  

  .react-datepicker__day {
    font-size: 15px;
    color: #6e6e6e;
    padding: 10px;
    border-radius: 40px;
    transition: background-color 0.3s ease;
  }

  .react-datepicker__header {
    text-align: center;
    background-color: #316ba1;
    border-bottom: 0px solid #316ba1;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    padding: 8px 0;
    position: relative;
    color: white;
}

.react-datepicker__header:not(.react-datepicker__header--has-time-select) {
  border-top-right-radius: 40px;
}
  
.react-datepicker__day:hover {
  background-color: #e6f4ea;
}
  
  .react-datepicker__day--selected,
  .react-datepicker__day--keyboard-selected {
    background-color: var(--button-color); 
    color: white;
  }
  

  .react-datepicker__day--disabled {
    color: #ccc;
    pointer-events: none;
  }
  

  .react-datepicker__current-month,
  .react-datepicker__day-name {
    color: white;
    font-weight: bold;
  }
  

  .react-datepicker__navigation {
    top: 10px;
  }
  
  .react-datepicker__navigation-icon::before {
    border-color: white;
  }
  