
.reservation-form p {
    font-size: 20px;
    color: var(--primary-color);
    font-weight: 500;
}

.reservation-form select,
.reservation-form input {
    width: 50%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.reservation-button {
    background-color: var(--button-color);
    align-items: center;
    justify-content: center;
    color: #fff;
    padding: 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    text-align: center;
    margin: 15px;
}

.success-message {
    margin-top: 10px;
    color: rgb(100, 155, 100);
} 

.reservation-page {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    /* gap: 30px; */
    padding: 40px;
    padding-left: 150px;
}

.museum-details {
    flex: 1;
    max-width: 60%;
    font-weight: 400;
}

.museum-photo {
    width: 100%;
    height: auto;
    border-radius: 10px;
    object-fit: cover;
}

.reservation-form-section {
    flex: 1;
    max-width: 30%;
    padding-right: 100px;
}

.reservation-form label {
    display: block;
    font-weight: bold;
    margin: 10px;
}

.reservation-button:disabled {
    background-color: gray;
    cursor: not-allowed;
}

  
.qr-code-section {
    margin-top: 2rem;
    text-align: left;
}
.qr-image {
    width: 200px;
    height: 200px;
    margin-top: 1rem;
}

@media (max-width: 768px) {
    .reservation-page {
      flex-direction: column;
      padding: 20px;
      padding-left: 20px;
      padding-right: 20px;
    }
  
    .museum-details {
      max-width: 100%;
      margin-bottom: 30px;
    }
  
    .reservation-form-section {
      max-width: 100%;
      padding-right: 0;
    }
  
    .reservation-form select,
    .reservation-form input {
      width: 100%;
    }
  
    .reservation-button {
      width: 100%;
    }
  
    .qr-code-section {
      text-align: center;
    }
  
    .qr-image {
      width: 150px;
      height: 150px;
    }
  }
  