.admin-page {
    text-align: center;
    padding: 2rem;
  }
  .admin-buttons button {
    margin-right: 0.5rem;
    padding: 0.4rem 1rem;
    font-size: 1.2rem;
    border: none;
    border-radius: 6px;
    background-color: var(--button-color);
    color: white;
    cursor: pointer;
    transition: background-color 0.2s ease;
    margin: 0.5rem;
  }
  .admin-buttons button:hover {
    background-color: var(--button-hover-color);
  }
  